@import "./src/styles";

.main-client {
  width: 1000px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  .reservation {
    width: 50%;
    .titre-reservation {
      font-family: $font-titre;
      font-size: $size-texte;
      color: $primary-color;
      text-align: center;
    }
    .div-reservation {
      width: 400px;
      height: 300px;
      margin-top: 30px;
      margin-left: 50px;
      border: 2px solid $tertiary-color;
      p {
        font-family: $font;
        font-size: $size-texte;
        color: $secondary-color;
        padding: 10px;
      }
    }
  }
  .achat {
    width: 50%;
    .titre-achat {
      font-family: $font-titre;
      font-size: $size-texte;
      color: $primary-color;
      text-align: center;
    }
    .div-achat {
      width: 400px;
      height: 300px;
      margin-top: 30px;
      margin-left: 50px;
      border: 2px solid $tertiary-color;
      p {
        font-family: $font;
        font-size: $size-texte;
        color: $secondary-color;
        padding: 10px;
      }
    }
  }
}
