<main class="main-client">
  <section class="reservation">
    <h1 class="titre-reservation">Mes réservations</h1>
    <div class="div-reservation">
      <p class="j1">Mardi 1 juillet</p>
      <p class="j2">Vendredi 5 juillet</p>
      <p class="j3">Mardi 10 juillet</p>
      <p class="j4">Vendredi 15 juillet</p>
      <p class="j5">Mardi 19 juillet</p>
    </div>
  </section>
  <section class="achat">
    <h1 class="titre-achat">Mes achats</h1>
    <div class="div-achat">
      <p class="a10">Achat 10 cours</p>
      <p class="a20">Achat 20 cours</p>
      <p class="total">Total de mes cours:</p>
    </div>
  </section>
</main>
