@import "./src/styles";

.main-client {
  width: 1300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  .reservation {
    width: 50%;
    .titre-reservation {
      font-family: $font-titre;
      font-size: $size-titre;
      color: $primary-color;
      text-align: center;
    }
    .div-reservation {
      width: 550px;
      height: 350px;
      margin-top: 30px;
      margin-left: 50px;
      border: 2px solid $tertiary-color;
      .content-reservation {
        display: flex;
        margin-bottom: 20px;
        margin-top: 10px;
        p {
          width: 50%;
          font-family: $font;
          font-size: $size-texte;
          color: $secondary-color;
          padding: 10px;
        }
        button {
          width: 50%;
          justify-content: end;
          font-family: $font;
          font-size: $size-texte;
          background-color: $primary-color;
          color: $bg-color;
          border: none;
          padding: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .achat {
    width: 50%;
    .titre-achat {
      font-family: $font-titre;
      font-size: $size-titre;
      color: $primary-color;
      text-align: center;
    }
    .div-achat {
      width: 550px;
      height: 350px;
      margin-top: 30px;
      margin-left: 50px;
      border: 2px solid $tertiary-color;
      .content-achat {
        display: flex;
        margin-bottom: 20px;
        margin-top: 10px;
        p {
          font-family: $font;
          font-size: $size-texte;
          color: $secondary-color;
          padding: 10px;
        }
        button {
          width: 40%;
          justify-content: end;
          font-family: $font;
          font-size: $size-texte;
          background-color: $primary-color;
          color: $bg-color;
          border: none;
          padding: 5px;
          margin-right: 5px;
        }
      }
      p {
        font-family: $font;
        font-size: $size-texte;
        color: $secondary-color;
        padding: 10px;
      }
    }
  }
}
