<main class="main-client">
  <section class="reservation">
    <h1 class="titre-reservation">Mes réservations</h1>
    <div class="div-reservation">
      <div class="content-reservation">
        <p class="j1">Mardi 1 juillet</p>
        <button (click)="decrease()">reserver</button
        ><button (click)="increase()">supprimer</button>
      </div>
      <div class="content-reservation">
        <p class="j2">Vendredi 5 juillet</p>
        <button (click)="decrease()">reserver</button
        ><button (click)="increase()">supprimer</button>
      </div>
      <div class="content-reservation">
        <p class="j3">Mardi 10 juillet</p>
        <button (click)="decrease()">reserver</button
        ><button (click)="increase()">supprimer</button>
      </div>
      <div class="content-reservation">
        <p class="j4">Vendredi 15 juillet</p>
        <button (click)="decrease()">reserver</button
        ><button (click)="increase()">supprimer</button>
      </div>
      <div class="content-reservation">
        <p class="j5">Mardi 19 juillet</p>
        <button (click)="decrease()">reserver</button
        ><button (click)="increase()">supprimer</button>
      </div>
    </div>
  </section>
  <section class="achat">
    <h1 class="titre-achat">Mes achats</h1>
    <div class="div-achat">
      <div class="content-achat">
        <p class="a10">10 cours</p>
        <button>acheter</button><button>supprimer</button>
      </div>
      <div class="content-achat">
        <p class="a20">20 cours</p>
        <button>acheter</button><button>supprimer</button>
      </div>
      <p class="total">Total de mes cours: {{ nombre }}</p>
    </div>
  </section>
</main>
