<main class="main-contact">
  <section class="map"></section>
  <section class="adresse">
    <img src="assets/img/logo1.png" class="imgLogoBlanc" />
    <article class="txt-adresse">
      <div class="left">
        <p>Adresse:</p>
        <p>Téléphone:</p>
        <p>Email:</p>
      </div>
      <div class="right">
        <p class="rue">
          Rue des arts martiaux 5 <br />
          1400 Nivelles
        </p>
        <p class="tel">067/00 00 00</p>
        <p class="mail">contact@shizendojo.be</p>
      </div>
    </article>
  </section>
</main>
