<main class="main-contact">
  <section class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20262.305292500863!2d4.318715083444657!3d50.5938905785964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c232d0a8aa7353%3A0x40099ab2f4d6d50!2sNijvel!5e0!3m2!1snl!2sbe!4v1618999520133!5m2!1snl!2sbe"
      width="1000"
      height="700"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </section>
  <section class="adresse">
    <img src="assets/img/logo1.png" class="imgLogoBlanc" />
    <article class="txt-adresse">
      <div class="left">
        <p>Adresse:</p>
        <p>Téléphone:</p>
        <p>Email:</p>
      </div>
      <div class="right">
        <p class="rue">
          Rue des arts martiaux 5 <br />
          1400 Nivelles
        </p>
        <p class="tel">067/00 00 00</p>
        <p class="mail">contact@shizendojo.be</p>
      </div>
    </article>
  </section>
</main>
