<main class="main-dojo">
  <section class="dojo-left">
    <button (click)="eventShowProf()" value="prof">Le professeur</button><br />
    <button (click)="eventShowDojo()" value="dojo">Le dojo</button><br />
    <button (click)="eventShowAssistant()" value="assistant">
      Les assistants
    </button>
  </section>
  <section class="dojo-right">
    <div class="div-img">
      <div class="photo5"></div>
    </div>
    <div class="div-txt">
      <div *ngIf="showProf">
        <h1 class="titre-div-text">Le professeur</h1>
        <article class="texte-div">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            saepe ullam asperiores fugiat distinctio amet quasi doloribus.
            Placeat repudiandae maxime tenetur magnam, sed modi labore aliquam
            vel minima quidem debitis?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            saepe ullam asperiores fugiat distinctio amet quasi doloribus.
            Placeat repudiandae maxime tenetur magnam, sed modi labore aliquam
            vel minima quidem debitis?
          </p>
        </article>
      </div>
      <div *ngIf="showDojo">
        <h1 class="titre-div-text">Le dojo</h1>
        <article class="texte-div">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            saepe ullam asperiores fugiat distinctio amet quasi doloribus.
            Placeat repudiandae maxime tenetur magnam, sed modi labore aliquam
            vel minima quidem debitis?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            saepe ullam asperiores fugiat distinctio amet quasi doloribus.
            Placeat repudiandae maxime tenetur magnam, sed modi labore aliquam
            vel minima quidem debitis?
          </p>
        </article>
      </div>
      <div *ngIf="showAssistant">
        <h1 class="titre-div-text">Les assistants</h1>
        <article class="texte-div">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            saepe ullam asperiores fugiat distinctio amet quasi doloribus.
            Placeat repudiandae maxime tenetur magnam, sed modi labore aliquam
            vel minima quidem debitis?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            saepe ullam asperiores fugiat distinctio amet quasi doloribus.
            Placeat repudiandae maxime tenetur magnam, sed modi labore aliquam
            vel minima quidem debitis?
          </p>
        </article>
      </div>
    </div>
  </section>
</main>
