@import "./src/styles";

.main-dojo {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  .dojo-left {
    width: 20%;
    text-align: end;
    margin-top: 100px;
    p {
      font-family: $font-titre;
      color: $secondary-color;
      font-size: $size-texte;
      margin-top: 30px;
    }
    p:hover {
      color: $primary-color;
    }
  }
  .dojo-right {
    width: 80%;
    transform: translateY(-300px);
    .div-img {
      width: 350px;
      height: 300px;
      margin-left: 50px;
      z-index: 1;
      transform: translateY(400px);
      background-color: $secondary-color;
    }
    .div-txt {
      z-index: 2;
      width: 1000px;
      height: 500px;
      margin-left: 150px;
      background-color: $tertiary-color;
      .titre-div-text {
        font-family: $font-titre;
        font-size: $size-titre;
        color: $primary-color;
        margin-left: 300px;
        padding-top: 100px;
      }
      .texte-div {
        font-family: $font;
        font-size: $size-texte;
        color: $secondary-color;
        margin-left: 300px;
        padding-top: 20px;
        width: 600px;
        p {
          padding-top: 10px;
        }
      }
    }
  }
}
