<main class="main-dojo">
  <section class="dojo-left">
    <button class="prof">Le professeur</button><br />
    <button class="dojo">Le dojo</button><br />
    <button class="assistant">Les assistants</button>
  </section>
  <section class="dojo-right">
    <div class="div-img"></div>
    <div class="div-txt">
      <h1 class="titre-div-text">Le professeur</h1>
      <article class="texte-div">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe
          ullam asperiores fugiat distinctio amet quasi doloribus. Placeat
          repudiandae maxime tenetur magnam, sed modi labore aliquam vel minima
          quidem debitis?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam saepe
          ullam asperiores fugiat distinctio amet quasi doloribus. Placeat
          repudiandae maxime tenetur magnam, sed modi labore aliquam vel minima
          quidem debitis?
        </p>
      </article>
    </div>
  </section>
</main>
