<main class="main-agenda">
  <section class="signIn">
    <h1 class="titre-signIn">S'identifier</h1>
    <div class="photo-left">
      <div class="photo3"></div>
    </div>
    <form method="POST" class="form-signIn">
      <label for="email" class="label">Email</label><br />
      <input type="email" name="email" id="email" class="input" /><br /><br />
      <label for="psw" class="label">Mot de passe</label>
      <input
        type="password"
        name="password"
        id="password"
        class="input"
      /><br />
      <input type="submit" value="Envoyer" class="btn-input" />
    </form>
  </section>
  <section class="signOut">
    <h1 class="titre-signOut">Créer un compte</h1>
    <div class="photo-right">
      <div class="photo6"></div>
    </div>
    <form method="POST" class="form-signOut">
      <label for="prenom" class="label">Prénom</label><br />
      <input type="text" name="prenom" id="prenom" class="input" /><br /><br />
      <label for="nom" class="label">Nom</label><br />
      <input type="text" name="nom" id="nom" class="input" /><br /><br />
      <label for="email" class="label">Email</label><br />
      <input type="email" name="email" id="email" class="input" /><br /><br />
      <label for="psw" class="label">Mot de passe</label><br />
      <input
        type="password"
        name="password"
        id="password"
        class="input"
      /><br />
      <input type="submit" value="Envoyer" class="btn-input" />
    </form>
  </section>
</main>
