<main class="main-home">
  <section class="bloc-photo">
    <div class="container-slides">
      <app-carousel [slides]="slides"></app-carousel>
    </div>
  </section>
  <section class="bloc-texte">
    <h1 class="titre-home">Ecole Nivelloise d'Aïkido</h1>
    <article class="texte-home">
      <p>
        Notre dojo fait partie de l'AFA (Association Francophone d'Aikido),
        Aikikaï de la Communauté Française Wallonie-Bruxelles. Seule fédération
        reconnue par le Ministère de la Communauté Française, membre de l'AISF,
        affiliée au Belgian Aikikaï, du Centre Mondial de Tokyo et du Comité
        Olympique et Interfédéral Belge.
      </p>
      <p>
        Un certificat médical obligatoire vous sera demandé pour le cours
        d'essai. N'hésitez pas à consulter la rubrique "agenda" afin de
        connaître les dates des stages organisés par notre dojo. Pour les
        nouveaux élèves, il est souhaitable de se présenter avant le début du
        cours. Nous rappelons qu'il n'y a aucune obligation à suivre les cours
        les deux jours semaine.
      </p>
    </article>
  </section>
</main>
