<main class="main-home">
  <section class="bloc-photo">
    <div class="container-slides">
      <app-carousel [slides]="slides"></app-carousel>
    </div>
  </section>
  <section class="bloc-texte">
    <h1 class="titre-home">Ecole Nivelloise d'Aïkido</h1>
    <article class="texte-home">
      <p>
        Lorem iarticlesum dolor sit amet consectetur adipisicing elit. Ducimus
        fugit quam ipsa autem, maiores eius eos eaque dolorem qui amet
        consequatur, accusantium natus harum quasi excepturi nostrum sit
        pariatur corrupti.
      </p>
      <p>
        Lorem iarticlesum dolor sit amet consectetur adipisicing elit. Ducimus
        fugit quam ipsa autem, maiores eius eos eaque dolorem qui amet
        consequatur, accusantium natus harum quasi excepturi nostrum sit
        pariatur corrupti.
      </p>
    </article>
  </section>
</main>
