@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

/*Mes font family*/
$font: "Lato", sans-serif;
$font-titre: "Roboto Slab", serif;
/*Mes couleurs*/
$primary-color: #997e4c;
$secondary-color: #231f20;
$tertiary-color: #b2b2b2;
$bg-color: #ffffff;
/*Mes size front*/
$size-titre: 36px;
$size-titrePetit: 30px;
$size-texte: 20px;
$size-textePetit: 16px;
